.tags-select {
        font-size: 0;
}
.tag-select {
        display: inline-block;
        font-size: 14px;
        margin: 5px;
        position: relative;
        font-weight: normal;
}
.name {
        display: block;
        line-height: 20px;
        padding: 8px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
}
      /* 设置radio不可见 */
input[type="radio"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        /* 选中 */
}
input:checked+.name {
        border-color: #e3393c;
}
input:disabled+.name {
        background: #eee;
        color: #999;
        cursor: not-allowed;
}

  
